@model SprixProject.ViewModel.AnimationViewModel

@* adding the image items here*@

<div id="item_1" class="cube"></div>
<div id="item_1" class="cube"></div>
<div id="item_1" class="cube"></div>
<div id="item_1" class="cube"></div>