@model SprixProject.ViewModel.AnimationViewModel

<p><input type="button" id="mergeSortExecute" value="Click to run" class="btn" onClick="start()" />
</p>

@* For Peter: For the animation, have a look at mergeSortTest.js. 
   Also, the values are now retrieved from the merge sort form.*@