
@{
    ViewBag.Title = "_GreedyNavBar";
}


<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Greedy Method <!-- TODO; make this dynamic -->
            </a>
        </li>
        <li>
            <a href="#">Fractional Knapsack Problem</a>
        </li>
        <li>
            <a href="#">Activity Selection Problem</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
