@{
    ViewBag.Title = "Home Page";
}


<div id="header">
    <p>AlgoAnimator</p>
</div>

<div id="mainSection">
    <a href="http://www.google.com">
        <div class="frame">
            <div class="hex-outer h1"></div>
            <div class="hex-outer h2"></div>
            <div class="hex-outer h3"></div>
            <div class="hex-inner h1"></div>
            <div class="hex-inner h2"></div>
            <div class="hex-inner h3"></div>
            <div class="label">+</div>
        </div>
    </a>

    <a href="http://www.bbc.com">
        <div class="frame2">
            <div class="hex-outer h1"></div>
            <div class="hex-outer h2"></div>
            <div class="hex-outer h3"></div>
            <div class="hex-inner h1"></div>
            <div class="hex-inner h2"></div>
            <div class="hex-inner h3"></div>
            <div class="label">+</div>
        </div>
     </a>

    <a href="http://www.yahoo.com">
        <div class="frame3">
            <div class="hex-outer h1"></div>
            <div class="hex-outer h2"></div>
            <div class="hex-outer h3"></div>
            <div class="hex-inner h1"></div>
            <div class="hex-inner h2"></div>
            <div class="hex-inner h3"></div>
            <div class="label">+</div>
        </div>
    </a>

    <!-- Text under buttons -->
    <div id="buttonSection">
        <div class="textGreedy">Greedy Method</div>
        <div class="textDivideAndConquer">Divide and Conquer</div>
        <div class="textDynamic">Dynamic Programming</div>
    </div>
    

</div>