@{
    ViewBag.Title = "Home Page";
}

<div id="header">
    <p>AlgoAnimator</p>
</div>

<div id="mainSection">
    <div class="frame">
        <div class="hex-outer h1"></div>
        <div class="hex-outer h2"></div>
        <div class="hex-outer h3"></div>
        <div class="hex-inner h1"></div>
        <div class="hex-inner h2"></div>
        <div class="hex-inner h3"></div>
        <div class="label">+</div>
    </div>

    <div class="frame2">
        <div class="hex-outer h1"></div>
        <div class="hex-outer h2"></div>
        <div class="hex-outer h3"></div>
        <div class="hex-inner h1"></div>
        <div class="hex-inner h2"></div>
        <div class="hex-inner h3"></div>
        <div class="label">+</div>
    </div>

    <div class="frame3">
        <div class="hex-outer h1"></div>
        <div class="hex-outer h2"></div>
        <div class="hex-outer h3"></div>
        <div class="hex-inner h1"></div>
        <div class="hex-inner h2"></div>
        <div class="hex-inner h3"></div>
        <div class="label">+</div>
    </div>
</div>