
/* Animation code for bubble sort */

@keyframes index1animation {
    0%   {background-color:red; left:100px; top:50px;}
    50%  {background-color:red; left:130px; top:100px;}
    100% {background-color:red; left:160px; top:0px;}  /* notice that the top is 0px */
}

@keyframes index2animation {
    0%   {background-color:green; left:160px; top:0px;}
    50%  {background-color:green; left:130px; top:110px;}
    100% {background-color:green; left:100px; top:0px;}
}
