@model SprixProject.ViewModel.AlgorithmViewModel
@Scripts.Render("~/Scripts/jquery_form.js")

@if (Model.formType == 1)
{
    <div class="col-md-8">
        <section id="sortForm">
            @using (Html.BeginForm("AlgorithmDetails", "Algorithm", FormMethod.Post, null))
                {
                <h4>Enter the values for the @Model.algoDetails.AlgorithmName</h4>
                <hr />

                    <div class="form-group">
                        <div class="col-md-2 control-label">No. of index</div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.form.NoOfIndex, htmlAttributes: new { id = "NoOfIndexVal", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">Values for each index</div>
                        <div id="indexValues" class="col-md-12">
                            @* TODO; Print n number of text boxes here! *@
                            @Html.TextBoxFor(m => m.form.IndexValue, htmlAttributes: new { id = "IndexValue_1", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="button" class="btn btn-primary" value="Submit" onclick="GetNoOfIndexVal(this)" />
                        </div>
                    </div>
            }
        </section>

    </div>

}

