@model SprixProject.ViewModel.AlgorithmViewModel
@Scripts.Render("~/Scripts/jquery_form.js")

@if (Model.formType == 1)
{
    <div class="col-md-12">
        <section id="sortForm">
            @using (Html.BeginForm("AlgorithmDetails", "Algorithm", FormMethod.Post, null))
                {
                <h4>Enter the values for the @Model.algoDetails.AlgorithmName</h4>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-3 control-label">Index no. 1 value</div>
                        <div class="col-md-9">
                            @*@Html.TextBoxFor(m => m.form.NoOfIndex, htmlAttributes: new { @value = "", id = "NoOfIndexVal", @class = "form-control" })*@
                            <input type="textbox" name="indexValue_1" class="form-control">
                        </div>
                    </div>
                    <div id="here">
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="button" value="Add" class="btn" onClick="AddOneMoreTextBox(this)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-6">
                            <input type="button" class="btn btn-primary" value="Submit" onClick="submitThis(this)" />
                        </div>
                    </div>
            }
        </section>

    </div>

}

