@model SprixProject.Models.SortAlgorithm

@{
    ViewBag.Title = "AnimationDummy";
}

@section Title{<h2>Animation Dummy</h2>}

@section Content {

@*Animation not showing*@
<div id="test"></div> 
}

@section SideNavBar {

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                Dummy 
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

}