@*Need to return model here*@
@*@model SprixProject.Models.SortAlgorithm*@
@*@model SprixProject.ViewModel.AlgorithmViewModel*@
    @model ViewDataDictionary



<p>Test form here</p>
@*TODO; Add the right form type here*@

@if (Html.Encode(Model.sortForm.PassValue) == "1") {
    @*Show sort form!*@
    <h2>Sort form type</h2>

    <p>You've called this correctly!</p>

}