@model SprixProject.Models.Algorithm

@{
    ViewBag.Title = "AnimationStart";
}

@section Title{<h2>@Model.Type.Name</h2>}

@section ContentTitle { <h3> @Model.Title </h3> } <!-- TODO; This would be the title of the algorithm -->

@section Content {

    <!-- TODO; Add the animation of an algorithmic method here! -->
    <!-- NOTE: content can either be input or animation bit. Also depends the type of algorithm selected -->
    <p>Add something here</p>

}

