body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #efefef;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position:relative;
    padding-left: 15px;
    padding-right: 15px;
    padding: 10px;
    background-color:blue;
}

.body-contentHome {
    position:relative;
    padding-left: 15px;
    padding-right: 15px;
    padding: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* PAGE LAYOUT */
#header {
    padding: 5px;
    padding-left:15px;
    padding-right:15px;
    position:relative;
    left:50px;
    font-family:'Orator Std';
    font-size:90px;
    text-align:center;
}

.title {
    position:relative;
    left:50px;
}

#mainSection {
    padding: 150px;
    padding-left:15px;
    padding-right:15px;
    width:1000px;
    position:relative;
    left:120px;
}

#sideNavBar {
    background-color: #42eb94;
}

#buttonSection {
    padding: 15px;
    padding-left:15px;
    padding-right:15px;
    width:1000px;
    position:relative;
    left:-15px;
    top:120px;
}

.footer { 
    color:#808080;
    text-align:center;
}

