body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.frame{
  width: 210px;
  height: 0px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  top: 50px;
  right: 270px;
}

.frame2{
  width: 210px;
  height: 0px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  top: 50px;
  right: 40px;
}

.frame3{
  width: 210px;
  height: 0px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  top: 50px;
  right: -190px
}

.hex-outer{
  background: #e1e1e1;
  width: 210px;
  height: 120px;
}

.hex-inner{
  background: #42eb94;
  width: 200px;
  height: 115px;
  position: relative;
  left: 5px;
  top: 82px !important;
  border-radius: 0;
  transition: all .4s;
  -webkit-transition: all .4s;
}

.h1{
  position: absolute;
  top: 80px;
}

.h2{
  position: absolute;
  top: 80px;
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.h3{
  position: absolute;
  top: 80px;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}

.label{
  position: absolute;
  color: #ABF8FF;
  font-weight: bold;
  font-size: 160px;
  left: 59px;
  top: 36px;
    transition: all .4s;
  -webkit-transition: all .4s;
}

.hex1{
    position: relative;
    top: 20px;
    left: 30px;
}

